@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

/* ameet fonts\ */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Reenie+Beanie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none !important;
    scroll-behavior: smooth;
}

:root {
    --fira-font: 'Fira Code', monospace;
    --roboto-font: 'Roboto', sans-serif;
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100,255,218,0.1);
    --pink: #f57dff;
    --blue: #57cbff;
    --font-sans: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
    --font-mono: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --border-radius: 4px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --tab-height: 42px;
    --tab-width: 120px;
    --easing: cubic-bezier(0.645,0.045,0.355,1);
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --hamburger-width: 30px;
    --ham-before: top 0.1s ease-in 0.25s,opacity 0.1s ease-in;
    --ham-before-active: top 0.1s ease-out,opacity 0.1s ease-out 0.12s;
    --ham-after: bottom 0.1s ease-in 0.25s,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
    --ham-after-active: bottom 0.1s ease-out,transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;
}

body{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    position: relative !important;
    font-family: 'Roboto Condensed', sans-serif;
    /* font-family: 'PT Sans Narrow', sans-serif; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    background-color: var(--navy);
}
/* #preloader{
    height: 100vh;
    width: 100%;
    background: #000 url(assets/profile/Pulse-1.4s-263px\ \(1\).gif) no-repeat center center;
    background-size: 10%;
    z-index: 999;
    position: fixed;
} */
.whatsapp a{
    
    background-color: #25d366;
    color: white;
    padding:5px 20px;
    border-radius: 50px;
    position: fixed;
    right: 2%;
    bottom: 8%;
    z-index: 99;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 5px 0px gray;
    
}
.whatsapp a span:hover{
    color: #f60;
}

.top a{
    
    background-color: white;
    opacity: 0.9;
    color: white;
    font-size: 1.3rem;
    padding:5px 5px;
    border-radius: 50%;
    position: fixed;
    left: 1%;
    bottom:2%;
    z-index: 99;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 5px 0px rgb(192, 192, 192);
    
}

.navbar-toggler{
    color: white !important;
}
#nav{
    padding: 10px 30px;
}
#logo .logo_name{
    font-size: 1.5rem;
    margin-left: 5px;
    color: var(--green);
    font-weight: bold;
    font-family: var(--roboto-font);
}
.LogoImage{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
#nav , #logo{
    transition: 0.4s;
}
.navbar{
    opacity: 0.95;
    background-color: var(--navy) !important;
    /* border-bottom: 2px solid white; */
    
}
.nav-link {
    margin: 0px 20px;
    font-size: var(--fz-xxs);
    /* font-weight: bold; */
    color: white;
    font-family: var(--fira-font);
}

.nav-link:hover{
    color: var(--green);
}

.resume-button{
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: var(--border-radius);
    padding: 0.75rem 1rem;
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    transition: var(--transition);
    margin-left: 15px;
    font-size: var(--fz-xs);
}
.resume-button:hover{
    color: var(--green);
    box-shadow: 4px 4px 0px 0px var(--green);
    transform: translateY(-5%)
}

.dropdown-menu li a{
    display: flex;
    align-items: center;
}
.dropdown-menu li a:hover{
    color: #f60;
}
.dropdown-menu li a span{
    font-weight: 300;
    font-family: auto;
}
.dropdown-menu li img , .dropdown-menu li i{
    margin-right:5px ;
}



/* main content css */
.main-div{
    /* background-image: url("https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg"); */
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url("https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg");
    position: relative;
}
.social_links{
    position: absolute;
    left: 0px;
    top: 170px;
    width: 45px;
    text-align: center;
    padding: 10px 0px;
    background-color: #f1efeb;
}

.slink i{
    font-size: 1.5rem !important;
    color: black !important;
}
.slink i:hover{
    color: #f60 !important;
}

.fs-heading{
    width: 40%;
}
.fs-heading h1{
   font-size: 4rem;
   font-family: 'PT Sans Narrow', sans-serif; 
}
.fs-heading h1 a{
    color: #f60;
    background-color: rgb(255, 243, 236);
    padding: 2px 0px;
    font-size: 2rem;
}
.start-learning{
    background-color: #f60;
    border: none !important;
    padding: 10px 0px;
    width: 80%;
}

.placed-students{
    width: 40%;
}

/* second section about me div css  */
.second-div{
    /* background: linear-gradient(147.76deg,hsla(0,100%,99%,.31) 2%,#095cac 650%);
     */
     background-color: #3f6cc7;
}
.about-heading{
    width: 40%;
}
.about-heading h2{
    color:#f60 ;
}
.about-heading h5{
    margin: 10px 0px ;
}
.about-count{
    width: 40%;
}
.count h1{
    padding: 10px;
    margin: 0px 5px;
    font-weight: bolder;
    border-radius: 5px;
    background-color: black !important;
    color: white !important;
}

.join{
    color: #f60;
}

.join-logo a img{
    background-color: white !important;
    border-radius: 50%;
}


/* third section start  */

.third-div{
    /* background: linear-gradient(147.76deg,hsla(0,100%,99%,.31) 2%,rgb(255, 142, 240) 650%); */
    /* background-color: white; */
}

.exp-logo{
    width: 30%;
}
.comapny-logo img{
   /* border: 1px solid #ff944b; */
/* box-shadow: 0px 0px 100px 0px #d7e2f8; */
}

.exp-heading{
    width: 50%;
}
.exp-heading h2{
    color: #f60;
}


/* 4 section projects  */

.github{
    color: white;
    background-color: black;
    font-size: 1.3rem;
    font-weight: bold;

}
.github:hover{
    background-color: #ff944b;
    transition: 0.5s;
}


.deploy{
    color: white;
    background-color: #3f6cc7;
    font-size: 1.3rem;
    font-weight: bold;

}
.deploy:hover{
    background-color: #ff944b;
    transition: 0.5s;
}

.project-logo{
    width: 40%;
}
.project-heading{
    width: 50%;
}
.project-heading h2{
    color: #f60;
}


/* //section 5 framework and lang  */
.fifth-div{

    background-color: #3f6cc7;
}

.lang-logo{
    width: 15%;
}

.lang-logo:hover{
    scale: 1.05;
    transition: all 0.5s !important;
    .lang-name{
        color: #f60;
    };
}
.lang-name{
    color: #095cac;
}
.lang-name:hover{
    color: #f60;
}

/* contact us section  */

.contact-div{

    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url("https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg");
        position: relative;
}


.social-logo a img{
    /* background-color: white !important; */
    border-radius: 50%;
}

.contact-illustrate{
    width: 40%;
}

.contact-count{
    width: 40%;
}
.contact-count h5{
    color: #095cac;
    font-weight: bold;
}
.contact-count h5 img{

}


/* ameet css */
/* Nav-ameet */
.nav-no{
    color: var(--green);
}

.button-new{
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: var(--border-radius);
    padding: 0.75rem 1rem;
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    transition: var(--transition);
    margin-left: 15px;
    font-size: var(--fz-xxl);
}
.button-new:hover{
    color: var(--green);
    box-shadow: 4px 4px 0px 0px var(--green);
    transform: translateY(-5%)
}

/* hero-sec */
.hero-text{
    font-family: var(--roboto-font);
    color: var(--light-slate);
}
.hero-1txt{
    font-family: var(--fira-font);
    color: var(--green);
}

.name{
    font-family: var(--roboto-font);
    font-size: clamp(40px, 8vw, 80px);
    color: var(--lightest-slate);
    font-weight: bolder;
}
.head-para{
    font-family: var(--roboto-font);
    font-size: clamp(40px, 8vw, 80px);
    color: var(--slate);
    font-weight: bolder;
    margin: -30px 0px 0px 0px;
}
.head-para2{
    color: var(--slate);
    font-size: 18px;
}
.link{
    color: var(--green);
    text-decoration: none;
    font-size: 19px;
    position: relative;
}

.text-ani::before{
    content: '';
    width: 0px;
    height: 0.5px;
    background-color: var(--green);
    position: absolute;
    left: 0;
    top:20px;
    border-radius: 10px;
    transition: var(--transition);
}

.text-ani:hover::before{
    width: 110px;
}

.check{
    font-size: 15px;
    padding: 15px 15px
}

.direct-links{
    position: relative;
    position: fixed;
}

.left-links{
    position: absolute;
    display: flex;
    flex-direction: column; 
    left: 46px;
    top: 180px;
    gap: 20px;
}
.left-links > i{
    color: var(--light-slate);
    font-size: 20px;
    cursor: pointer;
    transition: var(--transition);
}

.left-links > i:hover{
    color: var(--green);
    transform: translateY(-10%);
}

.left-links::before{
    content: '';
    width: 1px;
    height: 136px;
    background-color: var(--light-slate);
    position: absolute;
    top: 200px;
    left: 8px;

}

.right-email{
    position: relative;
    position: fixed;
}

.right-mail{
    position: absolute;
    display: flex;
    flex-direction: column; 
    left: 1112px;
    top: 255px;
    gap: 20px;
    font-size: var(--fz-xxs);
    line-height: var(--fz-lg);
}
.right-mail::after{
    content: '';
    width: 1px;
    height: 136px;
    background-color: var(--light-slate);
    position: absolute;
    top: 125px;
    left: 92px;

}
.mail-text{
    rotate: 90deg;
}
.mail-text > .right-a{
    font-family: var(--fira-font);
    text-decoration: none;
    color: var(--light-slate);
    transition: var(--transition);
}

.mail-text :hover{
    color: var(--green);
    transform: translateY(-10%);
}

.test-btn{
    border: 1px solid var(--green);
    background: transparent;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}
.test-btn:hover{
    box-shadow: 4px 4px 0px 0px var(--green);
    transform: translateX(-4%);
}


@media screen and (max-width: 768px){
    
    /* ameet css */
    .head-para{
        margin: 2px 0px 0px 0px;
        line-height: 36px;
    }

    .direct-links{
        display: none;
    }

    .right-email{
        display: none;
    }

    /* ameet end  */

    .nav-link{
        padding: 10px 0px;
        margin: 0px;
        font-size: 1.2rem;
    }
    #nav{
        padding: 10px 20px !important;
    }
    .btns a{
        display: block;
        margin: 10px 0px ;
    }

    .social_links{
       display: none !important;
    
    }

    .fs-heading{
        order: 2;
        width: 80%;
    }
    .fs-heading h1{
        font-size: 3rem;
        text-align: center !important;
     }
     .fs-heading h1 a{
         font-size: 1.6rem;
         text-align: center !important;
     }
     .sub-heading{
        text-align: center !important;
     }
    .placed-students{
        width: 80%;
        order: 1;
    }

    .student1 img{
        width: 80% !important;
    }
    .start-btn{
        text-align: center !important;
    }

    /* section 2 about me  */
    .about-heading{
        width: 80%;
        text-align: center;
    }
    .about-me h1{
        font-size: 2rem !important;
    }
    .about-count{
        width: 80%;
    }
    .rating-box{
        width: 90%;
    }


    /* third section  */

    .exp-logo{
        width: 80%;
    }
    .exp-heading{
        width: 80%;
    }
    .whatsapp a{
    
        background-color: #25d366;
        color: white;
        padding:5px 10px;
        border-radius: 50%;
        position: fixed;
        right: 5%;
        bottom: 5%;
        z-index: 999;
        display: flex;
        align-items: center;
        box-shadow: 1px 1px 5px 0px gray;
        
    }



     /* secyion 4 projects  */

    .my_projects h1{
        font-size: 2rem !important;   
    }

    .github{
        
        font-size: 1rem;
    
    }
    .deploy{
        
        font-size: 1rem;
    
    }
    .project-logo{
        width: 80%;
    }
    .project-heading{
        width: 80%;
    }

 /* 5 section lang and framework  */

 .lang-logo{
    width: 35%;
 }
 

 .contact-illustrate{
    width: 90%;
}

.contact-count{
    width: 90%;
}

/* /contact */

.contact-count h5{
    text-align: center!important;
}
.contact-count h5 img{
    display: none !important;
}










}